@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	border:0;
	text-decoration: none;
	outline: 0;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
}

body{
	width: 100vw;
	min-height: 100vh;
	background: #e0e5ea;

	display: flex;
	justify-content: center;
	align-items: center;
	background: #373c4c;
}

main{
	background: #1e1e1e;
	box-shadow: 0px 0px 0px 7px #b1b4c926;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 7px;
	padding:20px;
}

main .kartica {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .kartica img{
	width: 100px;
	border-radius: 100%;
}
main .kartica h1{
	margin-top: 5px;
	color: #dddadb;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 600;
}
main .kartica hr{
	width: 50%;
  	height: 1px;
  	background: #ffffff0a;
  	margin:2px 0px;
}
main .kartica span{
	color: #ffffff7d;
	font-weight: 200;
	font-size: 13px;
}
main .kartica .informacije{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}
main .kartica .informacije h2{
	font-weight: 600;
	font-size: 14px;
	color: #dddadb;
	margin-bottom: 3px;
}
main .kartica .informacije p{
	color: gray;
	font-weight: 600;
	font-size: 13px;
}
main .kartica .informacije hr{
	width: 16%;
}
main .kartica .socialne-mreze{
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
main .kartica .socialne-mreze a{
	margin-right: 10px;
	padding:7px;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background: #212326;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #dddadb;
	transition: 0.2s;
	box-shadow: 0px 0px 0px 1px #dddadb0a inset;
}
main .kartica .socialne-mreze a:hover{
	background: #2f3236;
	box-shadow: 0px 0px 0px 1px #dddadb12 inset;
}
main .kartica .projekt{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: 0.1s;
}
main .kartica .projekt p{
	color: #dddadb;
	font-weight: 600;
	font-size: 13px;
}
main .kartica .projekt i{
	color: gray;
	transition: 0.1s;
}
main .kartica .projekt p.hidden{
	display: none;
}

main .kartica .projekt:hover i{
	color: #fff;
}
main .projekti h2{
	font-weight: 600;
  	font-size: 14px;
  	color: #dddadb;
  	margin-bottom: 3px;
  	width: 100%;
  	text-align: left;
}
main .projekti{
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
	/*max-width: 300px;*/
	width: 100%;
	flex-direction: row;
}
main .projekti .box{
	width: 100%;
	/*margin:0px 15px;*/
}
main .projekti .box .xyz{
	max-height: 315px;
	overflow: auto;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333539; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #74797f; 
}


main .projekti .box .box{
	display: flex;
	align-items: center;
}
main .projekti .item{
	background: #212326;
	border-radius: 3px;
	padding:7px 12px;
	box-shadow: 0px 0px 0px 1px #dddadb0a inset;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;

	margin:5px 0px;
	width: 92%;
	justify-content: space-between;
	cursor: pointer;
}
main .projekti .box i{
	font-size: 12px;
	padding-right: 5px;
	display: flex;
	margin-top: 3px;
	color: #494e5f;
}
main .projekti .item img{
	width: 20px;
	border-radius: 50%;
}
main .projekti .item:hover{
	background: #2f3236;
	box-shadow: 0px 0px 0px 1px #dddadb12 inset;}
main .projekti a{
	color: #fff;
	font-size: 14px;
	width: 100%;
}
main .projektiprojekti a i{
	padding-right: 3px;
}
.popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 13px;
    margin-right: 10px;
	padding: 7px;
	background: #212326;
	color: #dddadb;
	box-shadow: 0px 0px 0px 1px #dddadb0a inset;
}

