@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background: radial-gradient(circle, rgb(35 35 35) 0%, rgb(15 15 15) 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
    background-color: #0f0f0f;
    border-radius: 10px;
    border: 5px solid #ffffff1c;
    display: flex;
}

section .logo {
    display: flex;
    justify-content: center;
}

section .logo img {
    border-radius: 100%;
    border: 3px solid #ffffff12;
}

section .ime {
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
    color: #e5e2e2;
    margin-top: 5px;
    margin-bottom: 2px;
}

section .mini-opis {
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: #e5e2e270;
}

section .opis {
    width: 300px;
    font-weight: 300;
    font-size: 13px;
    color: #e5e2e270;
    margin: 3px 0px;
}

section .opis h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    margin: 0;
    margin-top: 10px;
}

section .opis p {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
}

/*--*/
section .drustvene-mreze {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

section .drustvene-mreze a {
    border-radius: 2px;
    width: 24%;
    height: 34px;
    background: #212326;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddadb;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 1px #dddadb0a inset;
}

section .drustvene-mreze a:hover {
    background: #2f3236;
    box-shadow: 0px 0px 0px 1px #dddadb12 inset;
}

section .projekti-dugme {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffffaa;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

section .projekti-dugme:hover {
    color: #fff;
}

section .projekti-dugme i {
    color: #ffffff70;
    margin-top: 2px;
}

section .projekti-menu {
    /*display: none;
    */
}

section .projekti-menu .projekat-naslov {
    width: 100%;
    color: #ffffff70;
    font-size: 15px;
    margin: 2px 0px;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
}

section .projekti-menu .projekat-naslov i {
    padding-right: 3px;
    font-size: 12px;
}

section .projekti-menu .projekat-naslov:hover {
    cursor: pointer;
    color: #fff;
}

section .projekti-menu .projekat-naslov span {}

section .informacije {
    margin-left: 10px;
    border-left: 2px solid #212326;
    width: 635px;
    /*height: 425px;
    */
}

section .informacije h3 {
    margin: 0;
    padding-left: 10px;
}

section .informacije .projekti-lista {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    max-height: 347px;
    overflow: auto;
    overflow-x: hidden;
    /*max-height: ;
    */
}
section .informacije .projekti-lista .projekat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:6px 0px;
    background: #181a1c;
    border-radius: 2px;
    border: 1px solid #ffffff0a;
    margin: 3px 8px;
    transition: 0.1s;
}
section .informacije .projekti-lista .projekat .web-opis{
    margin-right: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff70;

    display: flex;
    align-items: center;
    justify-content: center;
}
section .informacije .projekti-lista .projekat .web-opis i{
    display: flex;
    cursor: pointer;
    transition: 0.1s;
}
section .informacije .projekti-lista .projekat .web-opis i:hover{
    color: #fff;
}
section .informacije .projekti-lista .projekat .web-opis a{
    color: #ffffff70;
    margin-left: 10px;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    /*border:1px solid #ffffff26;*/
}
section .informacije .projekti-lista .projekat .web-opis a:hover{
    color: #fff;
}
section .informacije .projekti-lista .projekat .web-ime{
    font-size: 14px;
}
section .informacije .projekti-lista .projekat img{
    margin:0px 8px;
    border-radius: 100%;

    width: 20px;
    height: 20px;
}
section .informacije .projekti-lista .projekat:hover{
    background: #25282b;
}
h4.rowX{
    margin: 3px 10px;
    font-size: 12px;
    color: #ffffff90;
    font-weight: 300;
}
section .informacije .projekti-lista::-webkit-scrollbar {
    width: 3px;
}

section .informacije .projekti-lista::-webkit-scrollbar-track {
    background: #212326;
}

section .informacije .projekti-lista::-webkit-scrollbar-thumb {
    background: #99181b;
}

section .informacije .projekat {
    width: 300px;
    /*height: 180px;
    */
    /*padding:4px;
    */
    margin: 8px;
    filter: blur(0px);
    transition: 0.1s;
}

section .informacije#thumbnails .projekat {
    width: 194px;
    flex-direction: column;
    padding: 0px;
}
section .informacije#thumbnails .projekat .naslov{
    background: transparent;
    border: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    margin: 4px 0px;
}
section .informacije#thumbnails .projekat img{
    width: 95%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 5px;
}
section .informacije .projekat .naslov {
    font-size: 14px;
    /*width: 300px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.2s;
    /* margin: 3px 0px;
     */
    background: #212326;
    height: 26px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 0px 1px #dddadb0a inset, 0px 2px 11px 0px #0000007d;
    position: relative;
}

section .informacije#thumbnails .projekat .naslov {
    justify-content: space-between;
}

section .informacije#thumbnails .projekat .naslov span {
    padding: 0px 5px;
}

section .informacije .projekat:hover {
    /*cursor: pointer;
    background: #21232650;
    border-radius: 5px;*/
}

section .informacije .projekat:hover .slika img {
    box-shadow: 0px 5px 5px #00000060;
}

section .informacije .projekat:hover .naslov {
    color: #ffffffcc;
}

section .informacije .projekat .naslov span {
    margin: 0;
    padding: 0;
}

section .informacije .projekat .slika img {
    width: 100%;
    transition: 0.2s;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 5px 5px #00000060;
    transition: 0.2s;
    display: flex;
}

section .informacije .projekat {
    border-radius: 10px 10px 0px 0px;
}

section .informacije .projekat .opis-skripte {
    color: #ffffffba;
    font-weight: 200;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 10px;
    background: #212326;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .informacije .projekat a {
    text-decoration: none;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading i {
    font-size: 20px;
    color: #fff;
    animation: rotiraj_anim 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes rotiraj_anim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    body{
        background: #0f0f0f;
    }
    section {
        flex-direction: column;
        border:0;
        border-radius: 0px;
        width: 100%;
        /*box-shadow: 0px 0px 0px 3px #202020;*/
    }

    section .informacije {
        margin-left: 0px;
        border: 0;
        background: transparent;
        padding: 0px;
        margin-top: 15px;
        border-radius: 5px;
        /*border: 0;*/
        width: auto;
    }
    section .informacije h3{
        text-align: center;
        padding-bottom: 8px;
        margin-bottom: 8px;
        box-shadow: 0px 1px #212326;
    }
    h4.rowX{
        /*display: none;*/
        margin: 3px 0px;
        width: 100%;
        text-align: left;
    }
    .img_pregled{
        width: 80% !important;
        border: 2px solid #ffffff1c !important;
        min-height: initial !important;
    }
    .img_pregled img{
        border:0 !important;
    }
    .img_popup{
        display: none !important;
    }
    section .informacije#thumbnails .projekat img{
        width: 100%;
    }
    section .informacije#thumbnails .projekat .naslov span{
        padding: 0px 7px;
    }

    section .informacije .projekti-lista {
        justify-content: space-evenly;
    }
    section .informacije .projekti-lista .projekat{
        margin:3px 0px;
    }
}

@media screen and (max-width: 730px) {
    section .informacije .projekti-lista {
        width: 100%;
        max-height: inherit;
        overflow: inherit;
    }

    section .informacije#thumbnails .projekat {
        width: 47%;
    }
}

@media screen and (max-width: 605px) {
    section .informacije#thumbnails .projekat {
        width: 100%;
    }

    .loading {
        height: 100px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    section {
        width: 80%;
    }

    section .opis {
        width: 90%;
    }
}

.img_popup{
    position: absolute;
    z-index: 100;
    padding: 2px;
    background: #111;
    border-radius: 3px;
    width: 300px;
    box-shadow: 0px 0px 10px #00000070;
    border:1px solid #ffffff1c;
}
.img_popup img{
    width: 100%;
    display: flex;
}

.img_pregled{
    width: 1280px;
    min-height: 720px;
    position: absolute;
    z-index: 101;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 100px #000000;

    padding: 10px;
    background-color: #0f0f0f;
    border-radius: 10px;
    border: 3px solid #ffffff1c;
}
.img_pregled img{
    width: 100%;
    display: flex;
    border: 2px solid #ffffff1c;
}
.img_pregled button{
    width: 200px;
    height: 32px;
    margin-top: 10px;

    background: #c31515;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddadb;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 1px #dddadb0a inset;
    cursor: pointer;
}
.img_pregled button:hover{
    background: #810d0d;
    box-shadow: 0px 0px 0px 1px #dddadb12 inset;
}